# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Переменные окружения (секреты, токены, пароли)
.env
.env.local

# IDE (PyCharm, VS Code)
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db